$normal: #ffffff;
$secondary: #b0b0b0;
$muted: #909090;

$layer1: #303030;
$layer2: #212121;
$layer3: #141414;

$scrollbarTrack: transparent; // #252525;
$scrollbarThumb: #505050;

$colorChat: $layer1;
$colorGuilds: $layer1;
$colorChannels: $layer2;
$colorMembers: $layer2;

$colorGuildSidebar: $layer1;
$colorGuildSidebarHover: #3d3d3d;

$colorGuildTopbar: $layer2;
$colorGuildTopbarHover: #282828;

$colorChannelTopbar: $layer2;

$colorChannelSidebar: $layer2;
$colorChannelSidebarHover: #282828;
$colorChannelSidebarActive: #313131;

$colorUserSidebar: $layer3;
$colorUserSidebarHover: #282828;

$colorStatusSidebar: $layer3;
$colorStatusSidebarHover: #282828;

$colorMemberSidebar: $layer2;
$colorMemberSidebarHover: #282828;

$colorMessage: $layer1;
$colorMessageHover: #363636;

$colorChatTextarea: #3a3a3a;
